<%- include("partials/header.ejs") %>

    <div class="books">
        <form action="/amendReview" method="post" class="add-review">
            <div class="book">
                <input type="hidden" name="cover_id" value="<%= locals.cover %>">
                <input type="hidden" name="title" value="<%= locals.title %>">
                <input type="hidden" name="bookId" value="<%= locals.book_id %>">
                <input type="hidden" name="author" value="<%= locals.author %>">
              
                <% if(locals.cover == 0){ %>
                    <div class="blank-cover">
                        <div>
                            <h3><%= locals.title %></h3>
                            <h4>By <%= locals.author %></h4>
                        </div>
                    </div>
                <% } else { %>
                    <img src="//covers.openlibrary.org/b/id/<%= locals.cover %>-L.jpg" alt="Book cover of <%= locals.title %>">
                <% } %>

                
                <div class="book-details">
                    <h2>
                        <%= locals.title %>
                    </h2>
                    <h3>By <%= locals.author %>
                    </h3>
                    <!-- if review exists, edit review else write review -->
                    <% if (locals.review) { %>
                        <h3>Edit Review:</h3>
                        <textarea name="review_text" id="review_text" cols="30" rows="10" required><%- locals.review %></textarea>
                    <% } else { %>
                        <h3>Write review:</h3>
                        <textarea name="review_text" id="review_text" cols="30" rows="10" required></textarea>
                    <% } %>
                    
                    <h3>Your Rating:</h3>
                    <div class="rating-stars">
                        <% for (let i = 1; i <= 5; i++) { %>
                            <input id="rating-<%= i %>" type="radio" name="rating" value="<%= i %>" <%= (locals.rating && locals.rating == i) ? 'checked' : '' %> <%= i === 1 ? 'required' : '' %>>
                            <label for="rating-<%= i %>">
                                <span class="fa fa-star"></span>
                            </label>
                        <% } %>
                    </div>
                    <% if (typeof error !== 'undefined' && error) { %>
                        <div id="error-message" style="width:200px; color:red;"><%= error %></div>
                    <% } else { %>
                        <div id="error-message" style="width:200px; color:red;"></div>
                    <% } %>

                    <div class="button edit">
                        <% if(locals.review) { %>
                            <input type="submit" value="Update" formmethod="post" formaction="/amendReview">
                        <% } else { %>
                            <input type="submit" value="Add review" formmethod="post" action="/add">
                        <% } %>
                    </div>
                </div>

            </div>
        </form>
    </div>









    <%- include("partials/footer.ejs") %>